{% extends "base.html" %}

{% block announce %}
Want to increase findability of your software? Get your software a <img src="https://www.wikidata.org/static/images/icons/wikidatawiki.svg" style="width: 20px; vertical-align: text-bottom;" class="no-shadow" alt="Wikidata"/> Wikidata ID by <a href="https://www.wikidata.org/wiki/Special:NewItem" target="_blank">clicking here</a>. <a href="https://find-software.org/blog/2026/03/02/get-your-software-a-wikidata-id-why-software-developers-should-add-their-projects-to-wikidata/">Read more</a> in our <a href="https://find-software.org/blog/2026/03/02/get-your-software-a-wikidata-id-why-software-developers-should-add-their-projects-to-wikidata/"">recent blog post</a>.
{% endblock %}
