workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        ENVIRONMENT_NAME: "preview $CI_MERGE_REQUEST_IID"
        ENVIRONMENT_URL: "https://$CI_PROJECT_ROOT_NAMESPACE.$CI_PAGES_DOMAIN/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html"
        MKDOCS_ARGS: "--no-directory-urls"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        ENVIRONMENT_NAME: "production"
        ENVIRONMENT_URL: https://$CI_PROJECT_ROOT_NAMESPACE.$CI_PAGES_DOMAIN/$CI_PROJECT_NAME

image: python:3.11

stages:
  - build
  - test
  - deploy

default:
  interruptible: true

# BUILD
######################
build:
  stage: build

  before_script:
    # Update pip and install Poetry
    - pip install -U pip
    - pip install poetry
    - poetry install
 
  script:
    # Build the MkDocs project
    - poetry run mkdocs build -d public $MKDOCS_ARGS

  artifacts:
    paths:
      - public
  environment:
    name: "$ENVIRONMENT_NAME"
    url: "$ENVIRONMENT_URL"

# TEST
######################
check_links:
  image: node:slim
  stage: test
  dependencies:
    - build
  before_script:
    - npm install broken-link-checker http-server -g
    - http-server -a 127.0.0.1 -s &
    # Allow the web server to successfully spawn
    - sleep 10
  script:
    - blc -get http://127.0.0.1:8080 -ro  --exclude "supplements/"
  when: manual
  allow_failure: true
  tags:
    - "ufz-intranet"

markdownlint:
  stage: "test"
  image: "node:18-alpine"
  before_script:
    - npm install -g markdownlint-cli
  script:
    - markdownlint docs
  allow_failure: true


# DEPLOY
######################
pages:
  stage: deploy
  dependencies:
    - build
  script:
    - echo "Skip script section"
  artifacts:
    paths:
      - public
  only:
    - main
